.vip{
    // 
    .tab-box-blank{
        height:90rpx;
        display: none;
    }
    .box-block{
        display:block;
    }
    .tab-box {
        display: flex;
        width: 100%;
        background: #fff;
        z-index: 999;
        position: unset;
        top:0;
        .default {
            display: block;
            width: 33.3%;
            border-bottom: 1px solid #e6e6e6;
            color: #000;
            height:90rpx;
            line-height:90rpx;
            font-size:32rpx;
            text-align:center;                
        }
        .active {
            border-bottom: 2px solid #e93030;
            color: #e93030;
        }
    }
    .fixed {
        position: fixed;         
    }
    // 
    .ploy{
        .ploy-box{
            padding:20rpx 30rpx 0rpx 30rpx;            
            .box-img{
                width:100%;
                height:352rpx;
                display:block;                
            }
        }
    }
    // 
    .note{
        .time-line{
            width:30rpx;
            height:30rpx;
            position:absolute;
            left:-15rpx;
            top:36rpx;                
        }
        .note-box {
            margin:0px 30rpx 0px 45rpx;
            position:relative;
            border-left:#e6e6e6 1px solid;
            padding-left:30rpx;
            padding-top:30rpx; 
            .box-top {
                .top-time {
                    font-size: 26rpx;
                    color: #999;
                }
            }
            .box-mid {
                margin: 10rpx 0;
                .mid-msg {
                    display: flex;
                    margin-bottom:15rpx;
                    align-content:center;                        
                    .icon{
                        width:70rpx;
                        height:70rpx;
                        border-radius:50%;
                    }
                    .msg{
                        text-align:left;
                        margin-left:20rpx;
                        max-width:520rpx;
                        .msg-name{
                            font-size:30rpx;
                            font-weight:bold;
                            padding-right:10rpx; 
                        }
                        .msg-title{
                            font-size:26rpx;
                            color: #e93030;
                        }
                        .msg-pro{
                            font-size:26rpx;
                            color: #999;
                            white-space:nowrap;
                            overflow:hidden;
                            text-overflow:ellipsis;                                
                        }
                    }
                }
                .mid-title{
                    margin-bottom:15rpx;
                    font-size:32rpx;
                    font-weight:bold;  
                    overflow:hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;                      
                }
                .mid-int{
                    position: relative;
                    .int-sign{
                        width: 75rpx; 
                        height: 40rpx; 
                        position: absolute; 
                        background:#e83030;
                        color:#fff;
                        text-align:center;
                        line-height:40rpx;
                        font-size:28rpx;
                        padding:2rpx 5rpx;
                        border-radius:5rpx;
                    }
                    .int-sign:before,.int-sign:after{ 
                        content: ""; 
                        width: 0; 
                        height: 0; 
                        position: absolute;
                        display: block; 
                        border-width:20rpx; 
                        border-style: solid;  
                    }
                    .int-sign:before{
                        left: 75rpx; 
                        top: 0rpx; 
                        border-color: transparent transparent transparent #e83030;
                    }
                    .int-sign:after{
                        left: 75rpx; 
                        top: 0; 
                        border-color: transparent transparent transparent #e83030;
                    }
                    .int-title {                       
                        font-size: 32rpx;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        letter-spacing:2rpx;                                                 
                    }  
                    .title-indent {
                        text-indent:120rpx;
                    }
                }
                .mid-img {
                    width:450rpx;
                    height:250rpx;
                    display: block;
                }
            }
            .box-bom {
                display:flex;
                font-size:26rpx;
                color:#999;
                margin-top:15rpx;
                padding-bottom:30rpx;
                border-bottom:#e6e6e6 1px solid;
                .bom-time{
                    padding-right:20rpx;
                }
                .bom-value{
                    padding-right:20rpx;
                }
                .bom-scan {

                }
                .bom-finger {
                    padding-left:20rpx;
                }
            }
        }
    }
    // 
    .course{
        .course-box {
            padding:20rpx 30rpx;
            border-bottom: #eee 10rpx solid;
            .box-top {
                .top-title {
                    font-size: 32rpx; 
                }
            }
            .box-mid {
                margin: 10rpx 0;
                position:relative;
                .mid-img-play{
                    position: absolute;
                    width:100rpx;
                    height:100rpx;
                    top:110rpx;
                    left:40%;                            
                }
                .mid-img {
                    height: 320rpx;
                    width:100%;
                    display:block;                            
                }
                .mid-msg {
                    display: flex;
                    margin:15rpx 0;
                    align-items:center; 
                    .mid-man {
                        display:block;
                        text-align:center;                            
                        .icon {
                            width: 50rpx;
                            height: 50rpx;
                            border-radius: 50%;                                   
                        }
                        .name{
                            font-size:26rpx;
                            white-space:nowrap;                                    
                        }
                    }
                    .mid-int {
                        padding-left:20rpx;
                        margin-left:20rpx; 
                        font-size: 30rpx;
                        border-left:#333 1px solid;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        // letter-spacing:1rpx;                                                  
                    }
                }
            }
            .box-bom {
                display: flex;
                font-size: 26rpx;
                color: #999;
                .top-time {
                    width: 30%;
                    text-align:left;                            
                }
                .top-float {
                    width: 70%;
                    text-align:right;                            
                    .bom-scan{
                        
                    }
                    .bom-finger{
                        padding-right: 20rpx;
                    }
                }       
            }
        }
    }
    .contShow {
        display: block;
        background: #fff;
    }
    .contHid {
        display: none;
        background: #fff;
    }
}